<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
          href="<%= url('/favicon.ico') %>"
          type="image/x-icon">
    <link rel="icon"
          href="<%= url('/favicon.ico') %>"
          type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Interrogator | PSD-Sanger</title>
    <style>
      a[target="_blank"]::after {
        content: " \F1C5"; /* Unicode for the box-arrow-up-right icon */
        font-family: "bootstrap-icons";
        font-size: 0.6em;
        vertical-align: super;
      }
      .body-bg {
        background-color: #9921e8;
        background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
      .mw-25 {
        max-width: 25%;
      }
      .logo-image {
        height: 0.75em;
        vertical-align: baseline; /* Align the image vertically with the text */
      }
      .application-label {
        display: inline-block;
        width: 1.4em;
        font-size: 0.9em;
        font-weight: bold;
      }
      .circle {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        border: 1px solid #333;
      }
      .status-success {
        color: var(--bs-success);
      }
      .status-failed {
        color: var(--bs-danger);
      }
      .status-in-progress {
        color: var(--bs-warning);
      }
      .status-canceled {
        color: var(--bs-gray);
      }
      .status-running {
        color: var(--bs-info);
      }
    </style>
  </head>
  <body class="body-bg container-xl p-4">
    <main class="bg-white p-8 rounded-4 shadow-lg">
      <div class="container p-4">
        <a href="<%= url('/') %>" class="navbar-brand">
          <h1 class="display-4">
            <img src="<%= url('/logo.png') %>" alt="Logo" class="logo-image">
            Interrogator
          </h1>
        </a>
        <form id="filters" action="<%= url('/') %>" method="get">
          <div class="d-flex flex-wrap justify-content-end align-items-center mb-2">
            <div class="form-floating mt-2 ms-2">
              <select name="source" id="source" class="form-select">
                <option value="all">All</option>
                <option value="schedule">Schedule</option>
                <option value="web">Web</option>
              </select>
              <label for="source">Source</label>
            </div>
            <div class="form-floating mw-25 mt-2 ms-2">
              <select name="branch" id="branch" class="form-select">
                <option value="all">All</option>
                <% branches.each do |branch| %>
                  <option value="<%= branch %>"><%= branch %></option>
                <% end %>
              </select>
              <label for="branch">Branch</label>
            </div>
            <div class="form-floating mt-2 ms-2">
              <select name="status" id="status" class="form-select">
                <option value="all">All</option>
                <option value="success">Success</option>
                <option value="failed">Failed</option>
                <option value="running">Running</option>
                <option value="canceled">Canceled</option>
              </select>
              <label for="status">Status</label>
            </div>
            <div class="form-floating mt-2 ms-2">
              <select name="first" id="first" class="form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <label for="first">Number</label>
            </div>
            <button type="submit" class="btn btn-outline-primary mt-2 ms-2">Filter</button>
          </div>
        </form>
        <% if flaky_tests.any? %>
          <div class="row">
            <div class="col">
              <div class="alert alert-warning mb-0" role="alert">
                Flaky tests detected, please check the summaries below for more details.
              </div>
            </div>
          </div>
        <% end %>
        <% if pipelines.any? %>
          <% pipelines.each do |pipeline| %>
            <div class="card mt-3">
              <div class="card-header">
                <div class="row">
                  <span class="col-12">
                    <%= pipeline['createdAt'].gsub('T', ' ')[0, 16] %>
                    <a href="<%= gitlab_url %>/psd/integration-suite/-/pipelines/<%= pipeline['id'] %>"
                      target="_blank" class="underline ms-3"><%= pipeline['id'] %></a>
                    <span class="status-<%= pipeline['status'].downcase %> float-end ms-3">
                      <strong><%= pipeline['overall_status'].capitalize %></strong>
                    </span>
                    <span class="text-secondary float-end" title="<%= pipeline['job_times'] %>">
                      <%= pipeline['duration'] ? ((pipeline['duration'] / 60) + 1) : '?' %> mins
                    </span>
                  </span>
                </div>
                <div class="row">
                  <span class="col-12 col-lg-3 offset-lg-1">
                    <span class="circle me-1"
                          style="background-color: #<%= pipeline['versions']['int_suite'][-6..] %>"></span>
                    <span class="application-label" title="Integration Suite">IS</span>
                    <code><%= pipeline['versions']['int_suite'] %></code>
                  </span>
                  <span class="col-12 col-lg-4">
                    <span class="circle me-1"
                          style="background-color: #<%= pipeline['versions']['sequencescape'][-6..] %>"></span>
                    <span class="application-label" title="Sequencescape">SS</span>
                    <code><%= pipeline['versions']['sequencescape'] %></code>
                  </span>
                  <span class="col-12 col-lg-4">
                    <span class="circle me-1"
                          style="background-color: #<%= pipeline['versions']['limber'][-6..] %>"></span>
                    <span class="application-label" title="Limber">LB</span>
                    <code><%= pipeline['versions']['limber'] %></code>
                  </span>
                </div>
              </div>
              <% if pipeline['failed_tests'].any? %>
                <ul class='list-group list-group-flush'>
                  <% pipeline['failed_tests'].each do |failed_test| %>
                    <li class='list-group-item py-1 small'>
                      <% if failed_test.is_flaky %><span class="badge bg-warning text-dark">Flaky</span><% end %>
                      <span class="font-monospace"><%= failed_test.ref %></span><span class="ms-2 text-secondary"><%= failed_test.comment %></span>
                      <% if failed_test.has_screenshot %>
                        <a href="<%= failed_test.screenshot_path %>" target="_blank" class="float-end"><i class="bi bi-window"></i></a>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="card">
            <div class="card-body text-center text-secondary">
              No Integration Suite runs found, please check access to GitLab instance
            </div>
          </div>
        <% end %>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="<%= url('/app.js') %>"></script>
  </body>
</html>
